div {
	text-align: center;
}

.box {
	display: inline-block;
	height: 20%;
	width: 49%;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.yellow {
	background-color: yellow;
}


@media only screen and (max-width: 600px) {
	.box {
		width: 100%;
	}

	.green {
		display: none;
	}

	.blue {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.box {
		width: 100%;
	}
}